.git
.idea
.vagrant
bootstrap/cache/**

docker
docker-configs
docker-deploy

mysql-datadir
node_modules
public/storage
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
storage/app/images/**
storage/app/public/images/meter_readers/**
storage/app/public/images/news/**
vendor/*

.editorconfig
.env.example
.gitattributes
.gitignore
after.sh
bitbucket-pipelines.yml
configmap.yaml
deployment.yaml
Dockerfile
Homestead.yaml
readme.md
Vagrantfile
