.ce-block__content, .ce-toolbar__content{
    max-width: initial;
}
#toastMessage{
    position: fixed;
    width: 40%;
    left: 30%;
    z-index: 9999;
    top: 0px;
    display: none;
}

#footer{
    width: 100%;
}
.edit-article div.ce-block:hover {
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.15);
}
.edit-article div.ce-block--focused{
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.15);
    border: solid 1px #8f9fad;
}
.codex-editor__redactor{
    padding-bottom: 100px!important;
}
.ce-header, h1.uk-article-title{
    color: rgba(0,0,0,.6);
}
div.tox.tox-tinymce{

    margin-bottom: 50px;
}
input[name="articleTitle"]{
    border: solid 1px #ccc!important;
}
.tox-statusbar__branding{
    display: none;
}
.articleExcerptInput{
    width: 100%;
    border: solid 1px #ccc;
    min-height: 80px;
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
}
article.uk-article{
    min-height: 800px;
}
#loading{
    width: 100%;
    min-height: 500px;
    height: 300px;
    background-image: url("/assets/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
}